<ul>
  <li *ngFor="let item of menuItems">
    <!-- Single menu item -->
    <a [routerLink]="item.route" *ngIf="!item.children">
      <i [class]="item.icon"></i> {{ item.label }}
    </a>

    <!-- Parent menu with children -->
    <div *ngIf="item.children">
      <i [class]="item.icon"></i> {{ item.label }}
      <ul>
        <li *ngFor="let child of item.children">
          <a [routerLink]="child.route">
            <i [class]="child.icon"></i> {{ child.label }}
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
