<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col">
    <app-input
      [label]="'First name'"
      [variant]="'filled'"
      [type]="'text'"
      placeholder="Enter First name"
      >

    </app-input>

     <app-input
      [label]="'Last name'"
      [variant]="'filled'"
      [type]="'text'"
      placeholder="Enter Last name"
      >

    </app-input>


    <app-input
      [label]="'Email'"
      [variant]="'filled'"
      [type]="'text'"
      placeholder="Enter Email"
      >

    </app-input>

        <app-input
      [label]="'Phone number'"
      [variant]="'filled'"
      [type]="'text'"
      placeholder="Enter Phone number"
      >

    </app-input>

      <app-input
      [label]="'Birthdate'"
      [variant]="'filled'"
      [type]="'date'"
      placeholder="Enter Phone number"
      >

    </app-input>

    <div class="mt-4">
      <app-button
        [label]="'Submit Form'"
        [type]="'submit'"
        [color]="'primary'"
        [icon]="'pi pi-check'"
        [loading]="false"
        [disabled]="false"
        [fullWidth]="true"
        [userPrime]="true"
        (clicked)="onSubmit()"
        >

      </app-button>
    </div>
  </div>



</form>