<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full mx-w-md">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="space-y-6">
      <app-input 
      [label]="'Email'"
      [variant]="'filled'"
      [type]="'email'"
      formControlName="email"
      placeholder="Enter email">
    </app-input>
    
    <div class="mt-4">
      <app-button
        [label]="' Send '"
        [type]="'button'"
        [color]="'primary'"
        [icon]="'pi pi-check'" 
        [loading]="false"
        [disabled]="false"
        [fullWidth]="true"
        [userPrime]="true"
        (clicked)="onResetPassword()">
      </app-button>
    </div>
    </form>
    
  </div>
</div>